.scrollable-area {
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: stretch;
    overflow-x: scroll;
}

.hourly-info {
    height: 100%;
    min-width: 2.8rem;
    margin-inline: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hourly-info .hourly-weather-icon {
    height: 50%;
    width: 30%;
    max-width: 50px;
    object-fit: contain;
    margin: 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hourly-weather-icon img {
    height: 70%
}

.hourly-info span {
    font-size: small;
}

.hourly-forecast-card.light{
    background: linear-gradient(0deg, var(--dayGradientStart), var(--dayGradientEnd));
}