.hourly-forecast-card {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
    width: 350px;
    height: 100px;
    border-radius: 15px;
    font-size: x-large;
    color: white;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    animation-name: sliding-animation;
    animation-duration: 500ms;
    animation-delay: calc(var(--animation-order) * 100ms);
    animation-timing-function: cubic-bezier(.2, .88, .28, 1.4);
    animation-fill-mode: forwards;
}

.hourly-forecast-card-contents {
    display: flex;
    height: 100%;
    justify-content: center;
}

.scrollable-area {
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: stretch;
    overflow-x: scroll;
}

.hourly-info {
    height: 100%;
    min-width: 2.8rem;
    margin-inline: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hourly-info .hourly-weather-icon {
    height: 50%;
    width: 30%;
    max-width: 50px;
    object-fit: contain;
    margin: 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hourly-weather-icon img {
    height: 70%
}

.hourly-info span {
    font-size: small;
}

.hourly-forecast-card.light{
    background: linear-gradient(0deg, var(--dayGradientStart), var(--dayGradientEnd));
}